body {
	/*background: url("../img/bg2.jpg") no-repeat top center;*/
	margin: 0;
	padding: 0;
}
div#page {
	width:1000px;
	margin:0 auto;
}
#formularz {
	width:300px;
}
#mapka {
	width:300px;
	height:200px;
	float:left;
}
#mapa_full {
	/*width:600px;
	height:450px;*/
}
#coords {
	/*display:none;*/
	width:300px;
	float: left;
}
div#top {
	
}
#error {

}
h1 {
	float:right;
	padding: 40px 0 40px 150px;
    width: 215px;
	background: url("../img/map_icon.png") no-repeat left center;
}
input#sub {
	border:none;
	font-size:12px;
	width:76px;
	height:40px;
	text-align:center;
	padding: 0 0 5px;
	/*background: url("../img/sub.png") no-repeat; */
}
#map_container {
	width: 1000px;
	position: relative;
	
	margin-left: auto;
	margin-right: auto;
	margin-top: 247px;
	margin-top:178px;
}

#map_canvas, #mapa_full {
	position: absolute;
	top: 70px;
	left: 85px;
	height: 445px;
	width: 845px;
}

#mask {
	position: absolute;
	top: 0;
	left: 0;
	
	height: 586px;
	width: 1000px;
	
	/*background: url("../img/mask2.png") no-repeat;*/
	background-size: 100%;

	pointer-events:none;
}